<div class="row valign">
<div class="jumbotron col-md-8 col-md-offset-2 vcenter">
  <blockquote>
    <h1>What's measured improves</h1>
    <p>- Peter F. Drucker</p>
    <p>Join the almost - most advanced analytics platform ever for the web.</p>
  </blockquote>
</div>
</div>
