<%= javascript_include_tag 'domain' %>
<div class="col-md-10 col-md-offset-1">
  <h2>This is where the user will see the list of apps, can register an app, and get the JS snippet</h2>
  <div class="row">
    Register apps
  </div>
  <div class="row">
    Snippet * Instructions
  </div>
  <div ng-app="Domain" ng-controller="domainCtrl">
    {{ firstName + " " + lastName }}
  </div>
</div>
