<!-- <%= javascript_include_tag 'domain' %> -->
<div class="col-md-10 col-md-offset-1 dashboard">
  <h2>This page will display an apps analytics</h2>
  <div class="row">
    <ul>
      <li ng-repeat="event in events">
        {{ event }}
      </li>
    </ul>
  </div>
</div>
