<div class="col-md-10 col-md-offset-1 dashboard">
  <h2 class="page-header">To date events for: {{ app.toUpperCase() }}</h2>
  <div class="row">
    <div id="analytics" style="height: 500px;"></div>
  </div>
</div>
