/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

 .home {
    background-image: url("https://s3-us-west-1.amazonaws.com/blocmetrics-app-assets/IMG_5754GBlur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
 }

 .member {
   background-color: #333333;
   background-image: linear-gradient(#333333,#7D7D7D);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }

.valign {
    min-height: 100vh;
}

.vcenter {
  position: relative;
  transform: translateY(50%);
}

.nav {
  background-color: #eeeeee;
  padding-top: 3px;
}

.main-panel {
  background-color: #eeeeee;
  position: relative;
  margin: 70px auto 30px;
  min-height: 78vh;
}

.user-info {
  margin: 6px 15px 0 0;
}

.nav > li > a {
  color: #333333;
}

.dashboard {
  background-color: #eeeeee;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  margin: 30px auto;
  text-align: center;
  font-size: 30px;
  color: #eeeeee;
}

.navbar-brand, .page-header {
  font-family: 'Montserrat', sans-serif;
}

.user {
  background-color: #eeeeee;
  padding: 0 20px 20px;
  margin-top: 20px;
}
